{% extends 'test2/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col=md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}         

                <span>Customer: </span>{{form.customer}}
                <span>Product: </span>{{ form.product }}
                <span>Status: </span>{{ form.status }}
                <span>Note: </span>{{ form.note }}
                
                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}